// Font family and size
$font-stack: 'Proza Libre', sans-serif ;
$xsm:11.33px;
$sm:13.33px;
$md:16.33px;
$lg:39.81px;

// Essential color variables
$background-color: #FAFCFE ;
$background-color-dark: #eceef0 ;
$primary-color: #2C2C4A;
$primary-color-dark: #24243d;
$text-color: #151515;
$muted: #898989;
$input-border:#8989898d;

