*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #FAFCFE !important;
  font-family: 'Proza Libre', sans-serif !important;
  display: flex;
  overflow: hidden;
}
.left-side{
  width: 60%;
}
.left-side > img {
  width: 100%;
  height: 100vh;
}
.right-side{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.right-side > img {
  width: 10rem;
  height: 3rem;
}
.sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 20px 0 20px 0;
  width: 21.7rem;
}
.text-muted{
  width: 21.7rem;
  font-size: 11.33px;
  color:#898989;
}
input[type=text]{
  border:0;
  height: 2.5rem;
  background-color: transparent;
  border-bottom: 2px solid #eee !important;
  color: #665856;
  margin: 10px 0 10px 0;
}
input[type=text]:focus , input[type=text]:valid{
  outline: 0;
  border-bottom-color: #665856;
}
.fs-xsm{
  font-size: 11.33px;
  color:#151515;
  text-align: center;
}
.fs-sm{
  font-size: 13.33px;
  color:#151515;
}
.fs-md{
  font-size: 16.33px;
  color:#151515;
}
.fs-lg{
  font-size: 39.81px;
  margin-left: 7px;
  color:#151515;
}
.btn-group{
  margin: 20px 0 20px 0;
  font-size: 16.33px;
  font-weight: bold;
}
.btn-create{
  color: #FAFCFE;
  padding: 10px;
  border: none;
  width: 348px;
  height: 42px;
  background: #2C2C4A;
  border-radius: 5px;
}
.btn-social{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.google{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 10px;
  width: 168.5px;
  height: 42px;
  background: #FAFCFE;
  border: 1px solid #2C2C4A;
  border-radius: 5px;
}
.apple{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 5px;
  isolation: isolate;
  width: 168.5px;
  height: 42px;
  background: #FAFCFE;
  border: 1px solid #2C2C4A;
  border-radius: 5px;
}
.text-decoration{
  border-bottom: 1px solid;
}

@media only screen and (max-width : 1000px) {
  .left-side{
    display: none;
  }
  .right-side{
    width: 100%;
    height: 100vh;
  }
}
